<script>
    import "../app.pcss";
    import Navbar from "$lib/Components/navbar.svelte";
  import Footer from "$lib/Components/footer.svelte";
</script>
<style>
    .vh-auto {
        min-height: 100vh;
    }
</style>
<div class="justify-content-center row d-flex">
    <Navbar />
    <div class="vh-auto">
        <slot></slot>
    </div>
    <Footer />
</div>