<script>
    import Map from "$lib/Components/map.svelte";
    import Options from "$lib/Components/options.svelte";
  </script>
  
  
  <div class="containe row justify-content-center d-flex">
      <Options />
  </div>
  
  <div class="containe row justify-content-center d-flex">
      <Map />
  </div>