<div class="dark:bg-gray-800 bg-gray-200 pt-4 pb-4 bottom-0 my-auto">
    <div class="m1 d-flex justify-content-center row">
        <div>
            <p class="h5 text-center text-gray-500 dark:text-gray-500 ms-4 my-auto">Rustaheat</p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="text-start text-gray-500 dark:text-gray-500 ms-4 my-auto">© 2024 Rustacés™</p>
        </div>      
        <div class="d-none d-md-flex justify-content-center">
            <p class="text-center text-gray-500 dark:text-gray-500 me-4 my-auto">Massinissa Djellouli - Mehdi Ben - Marc-Antoine M. - Gaëtan</p>
        </div>
    </div>
</div>