<script lang="ts">
  import { isError, post } from "$lib/Services/request_service";
  import type { MapResponse } from "$lib/Types/map_response";
  import { MapOptions } from "$lib/options";
  import { OptionsStore } from "$lib/stores/options_store";
  import { Alert, Spinner } from "flowbite-svelte";
  import type { Map as LMap, Marker } from "leaflet";
  import { onMount } from "svelte";
  import { fade } from "svelte/transition";
  const initMarkers = () => {
    let markers = new Map<string, Marker<any>[]>();
    MapOptions.map((option) => {
      markers.set(option.value, []);
    });
    return markers;
  };
  let options = $OptionsStore;
  let m: LMap | undefined = undefined;
  let markers: Map<string, Marker<any>[]> = initMarkers();
  $: mapActive = true;
  const bounds = [
    [45.7551, -74.1028],
    [45.301, -73.3461],
  ];
  const inBounds = (lat: number, lng: number) => {
    return (
      lat >= bounds[1][0] &&
      lat <= bounds[0][0] &&
      lng >= bounds[0][1] &&
      lng <= bounds[1][1]
    );
  };
  onMount(async () => {
    let L = await import("leaflet");
    let currentMarker: Marker<any> | undefined = undefined;
    m = L.map("map", {
      minZoom: 10,
      maxZoom: 14,
    }).setView([45.5361, -73.6716], 10);
    m.setMaxBounds(bounds as any);
    if (!m) return;
    L.tileLayer(
      "https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png",
      {
        attribution: `&copy;<a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>,
	        &copy;<a href="https://carto.com/attributions" target="_blank">CARTO</a>`,
        subdomains: "abcd",
        maxZoom: 14,
      }
    ).addTo(m);

    const onMapClick = async (e: any) => {
      if (!inBounds(e.latlng.lat, e.latlng.lng)) {
        return;
      }

      if (currentMarker) {
        currentMarker.remove();
      }
      currentMarker = L.marker(e.latlng).addTo(m!);
      mapActive = false;
      let selectedOptions = options
        .filter((o) => o.checked)
        .map((o) => o.value);
      let body = {
        tags: selectedOptions,
        latitude: e.latlng.lat,
        longitude: e.latlng.lng,
      };
      let res = await post<typeof body, MapResponse>("service", body);
        console.log(res);
      if (isError(res)) {
        errorMsg = res.err_message;
        setTimeout(() => {
            errorMsg = "";
        }, 3000);
        mapActive = true;
        return;
      }
      let divider = 10000000;
      res.place_interest.forEach((d) => {
        let lat = d.latitude / divider;
        let lng = d.longitude / divider;
        let marker = L.marker([lat, lng]).addTo(m!);
        markers.get(d.place_interest)?.push(marker);
        let tags = new Map<string, string>();
        d.tags.forEach((t) => {
          tags.set(t.key, t.value);
        });
        let name = tags.get("name") || "";
        if (name.length === 0) {
          return;
        }
        name = name.charAt(0).toUpperCase() + name.slice(1);
        let popup = "";
        switch (d.place_interest) {
          case "Restaurant":
            if (tags.has("cuisine")) {
              popup = `${name}\nCuisine: ${tags
                .get("cuisine")
                ?.split(";")
                .map((s) => {
                  return s.charAt(0).toUpperCase() + s.slice(1);
                })
                .join(", ")}`;
            } else {
              popup = name;
            }
            break;
          default:
            popup = name;
            break;
        }
      });
      mapActive = true;
    };
    m.on("click", onMapClick);
    return m;
  });
  const resizeMap = () => {
    if (m) {
      m.invalidateSize();
    }
  };
  $: errorMsg = "";
</script>

<svelte:window on:resize={resizeMap} />

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""
/>
<h2 class="text-center">Cliquez sur la carte pour ajouter un marqueur</h2>
<div class="container row d-flex justify-content-center my-3">
  {#if errorMsg.length > 0 && mapActive}
  <div class="col-8">
      <Alert border color="red">
        <span class="font-medium">Erreur: </span>
        {errorMsg}
      </Alert>
    </div>
    {/if}
  {#if !mapActive}
    <div class="d-flex justify-content-center">
      <Spinner />
    </div>
  {/if}
</div>
<div id="map" class="mb-3" class:no-touch={!mapActive}></div>

<style>
  #map {
    z-index: 1;
    height: 70vh;
    max-width: 70vw;
    min-width: 30vw;
  }
  .test {
    z-index: 2;
  }
  .no-touch {
    z-index: -1 !important;
  }
</style>
