<script>
  import { DarkMode } from 'flowbite-svelte';
  
let btnClass = "text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg text-xl p-2 my-auto";
</script>
<style>
    .z-index-max {
        z-index: 1000 !important;
    }
    .line {
        position:absolute;
        top: 100%;
        height: 1.5px;
    }
</style>
<div class="row d-flex dark:bg-gray-800 bg-gray-200 top-0 position-sticky z-index-max">
    <div class="col-6 d-flex justify-content-start">
        <h1 class="display-3 my-2">Rustaheat</h1>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <DarkMode bind:btnClass/>
    </div>
    <div class="line dark:bg-gray-900"></div>
</div>