<script lang="ts">
  import { MapOptions } from '$lib/options';
  import { OptionsStore } from '$lib/stores/options_store';
    import { Toggle } from 'flowbite-svelte';
    let options = $OptionsStore;
    const updateOption = (option:{value:string, checked:Boolean,option:string}) => {
        return () => {
            options = options.map((o) => {
                if (o.option === option.option) {
                    o.checked = !o.checked;
                }
                return o;
            });
        };
    };
</script>
  
<div class="container p-5">
    <div class="card dark:bg-gray-700">
        <div class="card-header bg-gray-100 dark:text-gray-300 dark:bg-gray-700 h4 p-4">
            Options
          </div>        
        <div class="card-body dark:text-gray-400 dark:bg-gray-800 d-flex justify-content-center row m-0">
            <div class="row justify-content-center d-flex">
                {#each options as option (option.option)}
                <div class="col-md-6 col-lg-4 col-xl-3 col-12 mt-2 row d-flex">
                    <Toggle checked={option.checked} on:click={updateOption(option)}>{option.option}</Toggle> 
                </div>
                {/each}
            </div>
        </div>
      </div>
</div>